body {

	padding: 0;
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 300px;
}

}

header{
	position: fixed;
	top:0;
	left:0;
	padding: 0 100px;
	background-color: #262626;
	width:100%;
	box-sizing: border-box;
      
}

header .logo{
	color: #fff;
	height:50px;
	line-height: 50px;
	font-size:24px;
	float:left;
	font-weight: bold;
}

header nav{
	float:right;
}

header nav ul{
	margin: 0;
	padding: 0px;
	display: flex;
}

header nav ul li{
	list-style: none;
	position: relative;
}


header nav ul li ul {
	position: absolute;
	left:0;
	background: #333;
	display: none;
}

header nav ul li.active ul{
	display: block;
}

header nav ul li ul li{
	display: block;
	width: 200px;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
	background:#2196f3;
         transition: 0.3s;
}

.menu-toggle{
	color:white;
	float:right;
	line-height: 50px;
	font-size:24px;
	cursor: pointer;
	display: none;
}


.imgcorner {
  display: block; 
  margin:auto;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);  
  border-radius: 50%;
  border: 10px outset SILVER;
  borde: 4px outset #c6731a;
  background-position: center center;
}

.card {
  box-shadow: .5px 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 1px 1px 1px 10px;
  background-color: none;
  height:280px;
  margin: 5px;
  border: 0px solid white;
}



[class*="col-"] {
    float: left;
    padding: 0px;
}
.lobster-font {
    font-family:Lobster;
    color: white;
}
.w3-font {
    font-family:Lobster;
    color: brown;
}
.fa:hover {
    opacity: 0.8;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-youtube {
  background: #bb0000;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%; 
}

 

/* For mobile phones: */

[class*="col-"] {width: 100%;}  

@media only screen and (min-width:800px ) 
{
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 
}
@media (max-width: 600px){

	header{
		padding:0 20px;
	}

	.menu-toggle{
		display: block;
	}

	header nav{
		position: absolute;
		width:100vw;
		height: calc(100vh - 50px);
		background-color: #fff;
		top:50px;
		left:-100%;
		transition: 0.5s;
	}

	header nav.active{
		left: 0px;
	}

	header nav ul{
		display: block;
		text-align: center;
	}


	
	header nav ul li.active ul{
	    position: relative;
	    background-color: #003e6f;
    }
      header nav ul li a {
	color: black;
	margin: 20px 0px;
	padding: 10px 0px;
	display: block;
        background: #fff;
}
    header nav ul li ul li{
    	width:100vw;
    	text-align: center;
    }
header nav ul li a:hover,
header nav ul li a.active{
	background:#e37682;
         transition: 0.3s;
         
}

